.c_searchBox {
    border-radius: 3px;
    padding-top: 10px;
    & .m_label {
        line-height: 30px;
        padding: 10px 5px 10px 0;
        text-align: right;
    }
    & .m_tools {
        text-align: center;
        & button {
            padding-left: 40px;
            padding-right: 40px;
            margin: 0 20px;
        }
    }
}