.c_searchBox {
    border-radius: 3px;
    & .m_label {
        line-height: 30px;
        padding: 10px 5px 10px 0;
        text-align: right;
        font-size: 14px;
    }
    & .m_tools {
        text-align: center;
        margin-top: 10px;
        & button {
            padding: 0px 20px;
            margin: 0 20px;
            font-size: 13px;
        }
    }
}